*
  box-sizing: border-box
  margin: 0
  padding: 0

body
  font-family: "Open Sans", sans-serif
  color: #183b56
  position: relative


a
  text-decoration: none
  color: inherit

a,
button
  cursor: pointer
  outline: none

.container
  max-width: 1140px
  margin: 0 auto
  width: 100%

.invalid
  color: #ff9f9f
  font-style: normal
  font-weight: 600
  font-size: 14px
  line-height: 15px
  position: absolute
  top: -32%

.error
  color: #ff9f9f
  font-style: normal
  font-weight: 600
  font-size: 14px
  line-height: 15px

img
  max-width: 100%

.button
  cursor: pointer

textarea:focus,
input:focus,
button:focus
  outline: none
