.subscribe
  margin-bottom: 91px

  &-bg
    display: none

  &-wrapper
    display: flex
    justify-content: space-around
    align-items: center
    height: 236px
    background: url("../images/subscribe-bg-desctop.png") no-repeat
    padding-bottom: 18px

  &-title
    font-family: 'Roboto', sans-serif
    font-style: normal
    font-weight: bold
    font-size: 36px
    line-height: 48px
    letter-spacing: 0.2px
    color: #FFFFFF
    height: 96px
    margin-right: 54px

  &__button
    position: absolute
    right: 10px
    top: 23px
    border: none
    outline: none
    font-style: normal
    font-weight: bold
    font-size: 16px
    line-height: 22px
    text-align: center
    color: #FFFFFF
    background-color: #FAAD13
    border-radius: 4px
    padding: 13px 26px
    cursor: pointer
    z-index: 100

  &-form
    position: relative
    padding-top: 20px
    padding-right: 3px

    &__icon
      position: absolute
      left: 20px
      top: 42px
      width: 16px
      height: 16px
      background: url("../images/icon-mail.svg") no-repeat

  &__input
    width: 447px
    height: 56px
    padding-left: 48px
    padding-right: 170px
    background-color: #FFFFFF
    border: 1px solid #C3CAD9
    border-radius: 8px
